certifi==2018.4.16
chardet==3.0.4
cssselect==1.0.3
Django==2.0.6
EasyProcess==0.2.3
idna==2.7
lxml==4.2.1
pkg-resources==1.0.0
pymongo==3.6.1
PyMySQL==0.8.1
pyquery==1.4.0
pytz==2018.4
PyVirtualDisplay==0.2.1
requests==2.19.1
selenium==3.12.0
treelib==1.5.1
urllib3==1.24.2
xmltodict==0.11.0
